/*style body of the page (step 3)*/
body{
   font-family: "Arial", Verdana;
   background-color: #000000;
   color: #FFFFFF;
   margin-top: 20px;
   margin-left: 20px;
   margin-right: 20px;
}
/*style h1 heading (step 4)*/
h1{
    font-size: 42px;
    text-align: center;
    padding: 15px;
}
/*style h2 heading (step 5)*/
h2{
    font-size: 30px;
    color: #0D0D0D;
}
/*style default p (step 6)*/
p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}
/*style default images (step 7)*/
img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed #FFFFFF;
}
/*style default divs (step 8)*/
div{
    height: 130px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}
/*style introduction class (step 9)*/
.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}
/*style red class (step 10)*/
.red{
    background-color: #FF0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px;
    border-left: 5px;
}
/*style blue div (step 11)*/
div.blue{
    background-color: #0000FF;
    text-align: left;
    margin-right: 50px;
    border-top: 2px;
    border-right: 5px;
}
div.blue > *{
    color: #C4C4C4;

}
/*style yellow div (step 12)*/
div.yellow{
    background-color: #FFFF00;
    text-align: right;
    margin-left: 50px;
    border-bottom: 2px;
    border-left: 5px;
}
div.yellow > p{
    color: #707070;
}
div.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-right: 5px;
    border-top: 2px;
}
footer{
    background: #020024;
    background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
    border: 5px solid #FFFFFF;
}
footer > p{
    font-size: 20px;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}




